<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

* {box-sizing: border-box;}

body { margin: 0;    font-family: Arial, Helvetica, sans-serif;     background-color: WHITE;
}

.header { background-color: #d9d7d7;  height:130px;  }

.logo{margin-top:-10px;}

.button { background-color:#1f5561  ; border: none; color: white; padding: 8px 75px; text-align: center; text-decoration: none; 
          display: inline-block; font-size: 16px;   cursor: pointer; margin-top:32px; border-radius:10px; margin-left:23.5%;
					font-weight: bold; 
		  }

.button:hover { opacity:0.9 ;}


.container1 { margin-right:30px; margin-left:25%; width:30%; height:350px;  background-color:#5DBCD2; display: inline-block; margin-top:10%; margin-bottom:30px;
border-radius:10px;}

#container h2{color: white; text-align:center; margin-top:70px; background-color:#424242; padding:8px; width:200px;
margin-left:22%;} 



</style>
</head>
<body>
<div class="header">
<img class="logo" src="imagens/logo.png" width="300" height="180">
</div>

<form action="/gerarMencao" method="get">

 <div class="container1" id="container">
  <h2>MENÇÃO: I</h2>
    <h2>ACERTOS: 10</h2>
<a href="/logarAluno"><button class="button">SAIR</button></a>
  </div>
  

</body>
</html>
