<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        background-color: WHITE;
      }

      .header {
        background-color: #d9d7d7;
        height: 130px;
      }

      .logo {
        margin-top: -10px;
      }

      button {
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
      }

      .header-mençoes {
        color: white;
        overflow: hidden;
        background-color: #424242;
        margin-top: 2%;
        padding: 0px 8px;
      }
      .header-mençoes h2 {
        margin-left: 15px;
      }

      .botoesA {
        background-color: #008cba;
        color: white;
        border: none;
        border-radius: 3px;
        padding: 10px 24px;
        width: 180px;
        height: 90px;
        margin-left: 150px;
        margin-top: 70px;
        margin-bottom: 50px;
        cursor: pointer;
        font-size: 18px;
        position: relative;
      }
      .botoesA:hover {
        background-color: #3bbfeb;
      }

      #botaoheader {
        margin-right: 40px;
      }
      .button {
        background-color: #424242;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        float: right;
        margin-top: 50px;
        border-radius: 30px;
      }
      .button:hover {
        background-color: #171717;
      }

      .botoesB:hover {
        background-color: #3bbfeb;
      }
      .botoesB {
        width: 90%;
        padding: 10px 18px;
        background-color: #008cba;
        border-radius: 5px;
        font-weight: bold;
        color: white;
        margin: 8px 12px;
        border: none;
        cursor: pointer;
      }

      .container1 {
        margin-left: 14%;
        margin-right: 30px;
        width: 250px;
        height: 240px;
        background-color: #d9d7d7;
        display: inline-block;
        margin-top: 80px;
        margin-bottom: 30px;
      }
      .container2 {
        margin-right: 30px;
        width: 250px;
        height: 240px;
        background-color: #d9d7d7;
        display: inline-block;
        margin-top: 80px;
        margin-bottom: 30px;
      }
      .container3 {
        width: 250px;
        height: 240px;
        background-color: #d9d7d7;
        display: inline-block;
        margin-top: 80px;
      }

      #container h2 {
        background-color: #187280;
        color: white;
        text-align: center;
        padding: 8px;
        margin-top: 0px;
        width: auto;
      }

      @media screen and (max-width: 300px) {
        .botoesB {
          width: 100%;
        }
      }
    </style>
  </head>
  <body>
    <div class="header">
      <img src="imagens/logo.png" class="logo" width="300" height="180" />
      <a href="/logarProfessor"
        ><button id="botaoheader" class="button">SAIR</button></a
      >
    </div>

    <form action="/indexProf" method="get"></form>

    <a href="/cadastroprova"
      ><button class="botoesA">CADASTRAR PROVA</button></a
    >
    <a href="/"><button class="botoesA">PROVAS CADASTRADAS</button></a>
    <a href="/cadastrarquestoes"
      ><button class="botoesA">CADASTRAR QUESTÕES</button></a
    >
    <a href="/listarQuestoes"
      ><button class="botoesA">QUESTÕES CADASTRADAS</button></a
    >

    <div class="header-mençoes">
      <h2>MENSÕES</h2>
    </div>

    <div class="container1" id="container">
      <h2>1° ANOS</h2>
      <a href="/escolherturma1anoa"
        ><button type="button" class="botoesB">1° ANO A</button></a
      >
      <a href="/escolherturma1anob"
        ><button type="button" class="botoesB">1° ANO B</button></a
      >
      <a href="/escolherturma1log"
        ><button type="button" class="botoesB">1° LOG</button></a
      >
    </div>

    <div class="container2" id="container">
      <h2>2° ANOS</h2>
      <a href="/escolherturma2anoa"
        ><button type="button" class="botoesB">2° ANO A</button></a
      >
      <a href="/escolherturma2anob"
        ><button type="button" class="botoesB">2° ANO B</button></a
      >
      <a href="/escolherturma2log"
        ><button type="button" class="botoesB">2° LOG</button></a
      >
    </div>

    <div class="container3" id="container">
      <h2>3° ANOS</h2>
      <a href="/escolherturma3anoa"
        ><button type="button" class="botoesB">3° ANO A</button></a
      >
      <a href="/escolherturma3anob"
        ><button type="button" class="botoesB">3° ANO B</button></a
      >
      <a href="/escolherturma3log"
        ><button type="button" class="botoesB">3° LOG</button></a
      >
    </div>
    <script>
      localStorage.setItem('rm_professor', '<%= rm_professor %>');
    </script>
  </body>
</html>
