<!DOCTYPE html>
<html lang="en">
<style>

body { margin: 0;   font-family: Arial, Helvetica, sans-serif;   background-color: WHITE;
}

.header { background-color: #d9d7d7;  height:130px;  }

h2 { background-color: #333333; margin-top:2%; padding:1%; color:white; margin-bottom:0.2%;
}

.button { background-color: #424242; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; 
          border-radius:30px;   display: inline-block; font-size: 16px;   cursor: pointer;   float: right; margin-top:50px; }

.button:hover { background-color: #171717;  }

.logo{margin-top:-10px;}

#botao1{margin-right:0.5%;}
#botao2{margin-left:1%; margin-right:2%;}

table { border-collapse: collapse;  border-spacing: 0;  width: 100%; border: 1px solid #ddd; background-color:#d9d7d7; margin-left:-3%; margin-top:-45px;
}

th, td { text-align: left;   padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}


</style>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="header">
<img class="logo" src="imagens/logo.png" width="300" height="180">
  <a href="/logarProfessor"><button id="botao2" class="button">SAIR</button></a>
<a href="/indexProf"><button id="botao1"class="button">VOLTAR</button></a>

</div>
<form action="/mencoes1anoa" method="get"></form>

<br><br><br><br><br><br>


  <h2>MENÇÕES</h2>         
  <div style="overflow-x:auto; padding:100px;">
  <table>
      <tr>
        <th>RM</th>
        <th>NOME</th>
	    <th>SOBRENOME</th>
		<th>TURMA</th>
		<th>ID PROVA</th>
		<th>MENÇÃO</th>
	
      </tr>
  
      <tr>
	  <td></td>  
      <td></td>
      <td></td>
	  <td></td>
	  <td>teste</td>
	  <td>teste</td>
      </tr>
	</div>
	 
  </table>


</body>
</html>