<!DOCTYPE html>
<html lang="en">
<style>

body { margin: 0;   font-family: Arial, Helvetica, sans-serif;   background-color: WHITE; 
}

.header { background-color: #d9d7d7;  height:130px;  }

.logo{margin-top:-10px;}

table { border-collapse: collapse;  border-spacing: 0;  width: 100%; border: 5px solid #cce9f0;
 background-color:#cce9f0; margin-left:-3%; margin-top:-45px; color:black; font-weight: bold; 
}

th, td { text-align: left;   padding: 8px; background-color: #5DBCD2;
}

tr:nth-child(even){background-color: #cce9f0;}

.button { background-color: green; border: none; color: white; padding: 13px 75px; text-align: center; text-decoration: none; 
   display: inline-block; font-size: 16px;   cursor: pointer;  border-radius:10px;  margin-left:35%; margin-top:20px; }
.button:hover { opacity:0.8;  }

</style>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>
<body>
<div class="header">
<img class="logo" src="imagens/logo.png" width="300" height="180">
</div>
<form action="/provaAluno" method="get"></form>

<br><br><br><br><br><br>

        
  <div style="overflow-x:auto; padding:100px;">
  <table>
      <tr>
        <th>ID PROVA
        2°BIMESTRE
	    DISCIPLINA: TESTE
		PROFESSOR: TAL TAL</th>
	
      </tr>
  
      <tr>
	  <td><br><br> Quanto é 1+1?<br><br>
	  <input type="radio" checked name="a"> 2<br><br>
  <input type="radio" checked name="b" > 3<br><br>
  <input type="radio" checked name="c" > 4<br><br> 
<input type="radio" checked name="d" > 5<br><br>  
<input type="radio" checked name="e" > 6<br><br>
	  </td>  
      </tr>
	  
	</div>
	 
  </table>

<a href="/gerarMencao"><button class="button">FINALIZAR</button></a>

</script>
</body>
</html>