<!DOCTYPE html>
<html lang="pt-br">
<head>
<link rel="sortcut icon" href="/imagens/logoicon.png" type="image/png"/>
</head>
<script>
alert("Cadastro realizado com sucesso!");
window.location = '/logarAluno';
</script>
</body>
</html>